h4 {
    text-align: center;
    padding: 0 0 1em 0;
}

.existente {
    &:hover~.buscar-existente {
        display: block;
    }
}

form .buscar-existente {
    display: none;
    // background: red;
}

.elegir-Producto {
    // padding: -2em 0 0 0;
    svg {
        margin: 0 .2em 0 .3em;
    }
}

.contedor-detalle-producto-venta {
    background: #f1f2f2;
    padding: 1em;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    header {
        padding: 0 0 8px 0 0;
        .h5 {
            padding: 0 0 8px 0 0;
        }
    }
    .cantidad {
        p {
            margin: 0 .8em 0 0;
        }
        .selecciona-u {
            border-radius: 3px;
            border: 0;
            width: 20%;
        }
        .cantidad-unidad {
            border-radius: 3px;
            border: 0;
            width: 15%;
        }
    }
}