        @import "generales";
        @import "../recursos/colores";
        // ----------------------------------
        // ----------------------------------
        // ----------------------------------
        .footer {
            display: inline-flex;
            // background: red;
            justify-content: center;
            align-items: center;
            background: $noche;
            color: $dia;
            width: 100%;
            height: 50px;
            position: fixed;
            bottom: 0;
            left: 0;
            a {
                font-family: $lt-fina;
                font-weight: bold;
                font-size: 16px;
                text-decoration: none;
                color: $dia;
            }
            button {
                font-family: $lt-fina;
                color: $dia;
                border: 0;
                background: transparent;
            }
            @media(max-width: 510px) {
                @media(min-width: 400px) {
                    img {
                        // padding: 0 0 0 .7em;
                    }
                    button {
                        padding: 0 .7em 0 .7em;
                    }
                }
            }
            @media(min-width:510px) {
                img {
                    // padding: 0 0 0 1.2em;
                }
                button {
                    padding: 0 1.2em 0 1.2em;
                }
            }
            @media(max-width: 430px) {
                img {
                    // padding: 0 0 0 .3em;
                }
                button {
                    padding: 0 .5em 0 .3em;
                }
                a {
                    font-size: 14px;
                }
            }
            // .grid-menu-footer {
            //     // display: grid;
            //     // grid-template-columns: 1fr;
            //     // grid-template-rows: 70px;
            //     // grid-area: "productos cientes ventas resultados"
            // }
            // .btn-Productos {
            //     grid-area: productos;
            // }
            // .btn-Clientes {
            //     grid-area: cientes;
            // }
            // .btn-Ventas {
            //     grid-area: ventas;
            // }
            // .btn-Resultados {
            //     grid-area: resultados;
            // }
        }