@import"../recursos/colores";
body {
    background: #FAfdfd;
    margin: 0;
    padding: 0;
}

.contenedor {
    margin: auto;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    // min-width: 340px;
}

$size-icon:20px;
$size-img:30px;
.img-circular {
    width: $size-img;
    height: $size-img;
    border-radius: $size-img/2;
}

.f-gruesa {
    font-family: $lt-gruesa;
    font-weight: 900;
}

.f-titulo {
    font-family: $lt-gruesa;
    font-weight: lighter;
    font-size: 20px;
    margin: 0;
}

.a-none {
    text-decoration: none
}

.txt-enlaces {
    text-decoration: none;
    font-family: $lt-gruesa;
    color: $diaPanel;
    &:hover {
        color: $celesteIcono;
    }
}

.a-hijo {
    // justify-content: start;
    // background: red;
    padding: .8rem;
    text-decoration: none;
    font-family: $lt-fina;
    font-weight: lighter;
    color: $diaPanel;
    &:hover {
        background: rgba($celesteIcono, 0.2);
    }
}

.lt-light {
    color: $diaPanel;
}

.bg-light {
    color: $dia;
}

.lt-dark {
    color: $diaLetra;
}

.bg-dark {
    color: $noche;
}

.barrita {
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 0;
        height: 5px;
        background: $celesteIcono;
        position: absolute;
        left: 50%;
        bottom: -17px;
        transition: all .3s;
        align-items: center;
    }
    &:hover:before {
        width: 100%;
        left: 0;
    }
}

.center-v {
    display: flex;
    align-items: center;
}

.pad-5 {
    padding: 5px
}